h1{
    color: blueviolet; /*blue*/
    margin-left: 30px;
    text-align: center;
    background-color: rgb(200, 221, 203);
    border-radius: 12px;
    outline-style: solid;
    outline-color: rgb(17, 2, 102);
    outline-width:thin;
    text-decoration:underline;
    
    
}

p{
    color: black;
    margin-left: 20px;
    text-align:left; /*text-align*/
    background:rgb(228, 228, 226) url("3.jpeg")  ;/*background-color*/
    /*border*/
    border-bottom: 6px solid red;
    border-radius: 12px;
    border-width: 3px;
    border-color: black;
    padding: 3px;
    margin: 25px;
    height: 10px;
    width: 100%;
    outline-offset: 15px;
    /*CSS Text*/
    text-transform:capitalize;
    text-indent: 50px;
}
body{
    /*background-color*/
    background: url("3.jpg");
   

}