h1{
    color: blueviolet; /*blue*/
    margin-left: 30px;
    text-align: center;
    background-color: rgb(0, 255, 42);
}
p{
    color: black;
    margin-left: 20px;
    text-align:left; /*text-align*/
    background-color:rgba(255, 255, 0, 1) ;/*background-color*/
}
body{
    /*background-color*/
    background-image: url("1.gif");
    background-repeat: no-repeat;
   

}